{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}

<div class="container mt-4">
    <h1>Welcome to HealingEdu: Learn, Heal, Explore</h1>
    <div class="row">
        <div class="col-md-4" style="">
            <img src="static/images/img_1.jpeg" style="width:300px"></div>
            <div class="col-md-8"><p class="text" style="font-size:20px">In today's society, the need for safe and effective alternatives to traditional allopathic medicines is more pressing than ever. 
            Many individuals are seeking holistic approaches to healthcare, as they become increasingly aware of the potential side effects and limitations of conventional treatments.
             SuJok therapy, Acupuncture and color therapy have emerged as gentle and harmless healing modalities, offering a natural and complementary path to wellness.
             These techniques can help address a wide range of physical and emotional issues without the adverse effects often associated with pharmaceutical interventions. Our app is designed to bridge the knowledge gap and promote the responsible use of these therapies, offering an essential resource for those seeking non-invasive and gentle healing options that align with the evolving healthcare needs of today's society.
        </p>
    </div></div>
</div>
    
{% endblock body %}