{% extends 'base.html' %}
{% block title %}mudras{% endblock title %}
{% block body %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <div class="card" style="width: 18rem;">
            <img src="static\images\i_below.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Use this Mudra for <strong>Diseases below bellybutton </strong>which includes Urinary infection, constipation, Menstrual disorders, to reduce pain during delivery (use mudra after 8 months). </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
            <div class="card" style="width: 18rem;">
                <img src="static\images\chest to neck.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Effective for <strong>Respiratory problems</strong>, to increase eyesight, and get good sleep.There will be a lot of changes in energy balance if included this in morning walk.</p>
                </div>
              </div>

        </div>
        
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        
        <div class="col-md-6">
            <div class="card" style="width: 18rem;">
            <img src="static\images\i_pressure.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Mudra for <strong>Blood pressure</strong></p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
            <div class="card" style="width: 18rem;">
                <img src="static\images\i_earpain.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Mudra for <strong>Ear pain</strong></p>
                </div>
              </div>

        </div>

    </div>
</div>


<div class="container mt-4">
    <div class="row">
<div class="col-md-6">
    <div class="card" style="width: 18rem;">
        <img src="static\images\i_stroke.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Mudra for <strong>Stroke,Heart attack</strong>.Do this Mudra 1 hour daily. Treatment is necessary for Stroke or Heart Attack even if Mudra is effective and can be used as a Remedy to prevent stroke. But do treatment as it is necessary to look for the Root cause for the disease.</p>
        </div>
      </div>

</div>
<div class="col-md-6">
    <div class="card" style="width: 18rem;">
        <img src="static\images\above_neck.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Use this Mudra for <strong>Diseases above neck</strong>.Example for disease in this area includes Headache.</p>
        </div>
      </div>

</div>
</div>
</div>

{% endblock body%}