{% extends 'base.html' %}
{% block title %}Treatments{% endblock title %}
{% block body %}
<div class="container mt-4" style="background-color:;">
  <div class="row">
      <div class="col-md-4">
          <img src="static\images\mudras.jpeg" width="300px" height="300px" ></div>
      <div class="col-md-8" style="" >
            <p class="text" style="font-size:20px">Mudras are symbolic hand gestures that are often used in yoga and meditation to promote physical, mental, and spiritual well-being.</p>
            <a href="/mudras" class="btn btn-dark">Mudra therapy</a>
          </div>
        </div>
      </div>
      
      <div class="container mt-4" style="background-color:;">
          <div class="row">
              <div class="col-md-4">
                  <img src="static\images\i_redness.jpeg" width="300px" height="300px" ></div>
              <div class="col-md-8" style="" >
                    <p class="text" style="font-size:20px">Use sketch pens for desired color to balance energy and improve well-being. </p>
                    <a href="/color" class="btn btn-dark">Color therapy</a>
                  </div>
                </div>
              </div>




{% endblock body %}